<div class="basic row">
    <div class="form-group col-2">
        <input type="text" [(ngModel)] = "userName" class="form-control"> <br>
        <button (click)="onAction()" class="btn btn-primary">Valider</button> <br>    
    </div>
    <p>{{ message }}</p>
    <mat-tab-group>
        <mat-tab label="Calculatrice">
            <app-calculatrice></app-calculatrice>
        </mat-tab>
        <mat-tab label="TVA">
            <app-tva></app-tva>    
        </mat-tab>
        <mat-tab label="ZZ">
            <app-zz></app-zz>
        </mat-tab>
    </mat-tab-group>
    <!-- <toggle-panel [title]="'Calculatrice'">
    </toggle-panel> -->
    <!-- <toggle-panel [title]="'TVA'">
    </toggle-panel>
    <toggle-panel [title]="'Zz'">
    </toggle-panel> -->
</div>
